{% extends 'mainapp/base.html' %}
{% block title %} Services | {% endblock %}
{% load static %}
{% block content %}
<div id="services" class="h-screen">
    <p>Services page</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur provident unde earum odit eveniet, ipsum corporis perspiciatis. Voluptatem, possimus modi esse reiciendis veniam, aperiam iste ipsa ut saepe laboriosam suscipit. Earum quis maiores nostrum laudantium ut ducimus dicta illum voluptatem similique dolor. Totam illum dolor dolorum suscipit nam quos amet reiciendis vel maiores nihil officia dolorem ipsa illo, repudiandae, minima, voluptates laboriosam. Nemo omnis, laborum accusantium illo velit commodi veritatis, blanditiis optio saepe suscipit molestiae? Doloremque quasi ex ducimus deleniti eius. Maxime quam vero at minima quasi iste, eveniet voluptate repellat quidem molestias fuga, suscipit, corporis porro voluptas quaerat? Placeat.
    </p>
</div>

{% endblock %}